html {
    margin: 0;
}
.broker-banner {
    background-color: #004387;
    text-align: center;
    overflow: hidden;
}
.etoro-banner {
    background-color: #0CC635;
    text-align: center;
    overflow: hidden;
}
.blackbull-banner {
    background-color: #255EAB;
    text-align: center;
    overflow: hidden;
}
.xtb-banner {
    background-color: #E30613;
    text-align: center;
    overflow: hidden;
}
.am-broker-banner {
    background-color: #002F5F;
    text-align: center;
    overflow: hidden;
}
.section1 {
    text-align: center;
}
.section6,
.section8 {
    color: white;
}
button {
    margin-top: 30px;
}
.fa-circle-check {
    color: limegreen;
}
.img-tbl {
    display: flex;
    justify-content: center;
}
.gap {
    padding: 0 5px;
}
a {
    text-decoration: none;
}
@media only screen and (min-width: 800px) and (max-width: 1050px) {
    .gap {
        max-height: 300px;
        object-fit: contain;
    }
}
@media only screen and (max-width: 289px) {
    * {
        font-size: 12px;
        overflow: hidden;
    }
    .broker-banner {
        background-size: cover;
    }
    .am-broker-banner {
        background-size: cover;
    }
    .pltf, 
    .smaller {
        max-width: 200px !important;
        object-fit: contain !important;
    }
    img {
        max-height: 100px;
    }
    #inv {
        width: 1px;
        height: 1px;
        position: absolute;
        visibility: hidden;
    }
    #am-inv {
        width: 1px;
        height: 1px;
        position: absolute;
        visibility: hidden;
    }
    .black {
        margin-top: 0;
    }
    .button, 
    .btn, 
    button {
        margin-bottom: 20px;
        font-size: 14px;
    }
}
@media only screen and (min-width: 290px) and (max-width: 425px) {
    * {
        font-size: 14px;
    }
    .broker-banner {
        background-size: cover;
    }
    .am-broker-banner {
        background-size: cover;
    }
    .pltf, 
    .smaller {
        max-width: 300px !important;
        object-fit: contain !important;
    }
    img {
        max-height: 150px;
    }
    /* #inv {
        width: 1px;
        height: 1px;
        position: absolute;
        visibility: hidden;
    } */
    #am-inv {
        width: 1px;
        height: 1px;
        position: absolute;
        visibility: hidden;
    }
    .black {
        margin-top: 0;
    }
    .button {
        margin-bottom: 0;
    }
    .img-tbl {
        flex-direction: column;
        align-items: center;
    }
    .gap {
        padding: 5px 0 !important;
    }
}
@media only screen and (max-width: 584px) {
    #inv {
        width: 1px;
        height: 1px;
        position: absolute;
        visibility: hidden;
    }
    .gap {
        max-height: 150px;
        object-fit: contain;
    }
}
@media only screen and (min-width: 585px) {
    #inv1 {
        font-size: 1px;
        position: absolute;
        display: none;
    }
}
@media only screen and (min-width: 426px) and (max-width: 1400px) {
    #am-inv {
        width: 1px;
        height: 1px;
        position: absolute;
        visibility: hidden;
    }
}
@media only screen and (min-width: 1401px) {
    #am-inv1 {
        width: 1px;
        height: 1px;
        position: absolute;
        visibility: hidden;
    }
}
@media only screen and (min-width: 426px) and (max-width: 599px) {
    * {
        font-size: 16px;
    }
    .broker-banner {
        background-size: cover;
    }
    .am-broker-banner {
        background-size: cover;
    }
    img {
        max-height: 200px;
    }
    .pltf, 
    .smaller {
        max-width: 400px !important;
        object-fit: contain !important;
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
    .pltf, 
    .smaller {
        max-width: 600px;
        object-fit: contain;
    }
    .gap {
        max-height: 200px;
        object-fit: contain;
    }
}
@media only screen and (max-width: 999px) {
    #table1, 
    #section2, 
    #section4, 
    #section6, 
    #section8 {
        background-color: #2E2E2E;
        color: white;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
    .text {
        margin: 0 0;
        padding: 10px 40px;
    }
    .pltf, 
    .smaller {
        max-width: 600px;
        object-fit: contain;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1139px) {
    .pltf {
        max-width: 600px;
    }
}
@media only screen and (min-width: 1140px) and (max-width: 1339px) {
    #table {
        margin-left: 10%;
        margin-right: 10%;
    }
    .pltf {
        max-width: 800px;
    }
}
@media only screen and (min-width: 1000px) {
    .text {
        margin: 40px 200px;
        padding: 0 40px 40px 40px;
    }
}
/* Medium Screens */
@media only screen and (max-width: 2000px) {
    .section2, 
    .section4, 
    .section6, 
    .section8 {
        background-color: #2E2E2E;
        color: white;
        margin-left: 15%;
        margin-right: 15%;
        border-radius: 8px;
    }
    .table1 {
        background-color: #2E2E2E;
        color: white;
        margin-left: 15%;
        margin-right: 15%;
        border-radius: 8px;
    }
    h3 {
        padding-top: 30px;
        text-decoration: underline;
        text-align: center;
    }
    .vorteile {
        display: flex;
        justify-content: center;
    }
    .num1, 
    .num2, 
    .num3, 
    .num4, 
    .num5,
    .num8, 
    .text, 
    .black {
        text-align: start;
    }
    .num1, 
    .num2, 
    .num3, 
    .num4, 
    .num5, 
    .num8 {
        padding: 0 20px 30px 20px;
        font-size: 1rem;
    }
    .black {
        color: white;
        padding: 0 40px 40px 40px;
    }
    .less-space {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .img {
        text-align: center;
    }
    img {
        max-width: 900px;
    }
    .btn {
        text-align: center;
    }
    .button {
        padding: 5px 30px;
    }
    .smaller {
        height: 400px;
    }
    .bottom {
        padding-bottom: 50px;
    }
    .ftr {
        text-align: center;
        padding-top: 20px;
    }
}

/* Big Screens */
@media only screen and (min-width: 2000px) {
    .section2, 
    .section4, 
    .section6, 
    .section8, 
    .table1 {
        background-color: #2E2E2E;
        color: white;
        margin-left: 600px;
        margin-right: 600px;
        border-radius: 8px;
    }
    h3 {
        padding-top: 30px;
        text-decoration: underline;
        text-align: center;
    }
    .vorteile {
        display: flex;
        justify-content: center;
    }
    .num1, 
    .num2, 
    .num3, 
    .num4, 
    .num5,
    .num8, 
    .text, 
    .black {
        text-align: start;
    }
    .num1, 
    .num2, 
    .num3, 
    .num4, 
    .num5, 
    .num8 {
        /* margin-left: 30%; */
        padding: 0 20px 30px 20px;
        font-size: 1rem;
    }
    .text {
        margin: 20px 600px;
        padding: 0 40px 40px 40px;
    }
    .black {
        color: white;
        padding: 0 40px 40px 40px;
    }
    .less-space {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .img {
        text-align: center;
        margin-left: 600px;
        margin-right: 600px;
    }
    img {
        max-width: 1050px;
    }
    .btn {
        text-align: center;
        margin-top: 0;
        /* outline: 1px solid black; */
    }
    .button {
        padding: 5px 30px;
    }
    .smaller {
        height: 400px;
    }
    .bottom {
        padding-bottom: 50px;
    }
    .ftr {
        text-align: center;
        padding-top: 20px;
    }
}